/*
  conway.css
  Style sheet for https://yawnoc.github.io/
*/

/* ---------------------------------------------------------------- */
/* Anchors                                                          */
/* ---------------------------------------------------------------- */

a {
  text-decoration: none; /* no underline except when hovered over */
}

a:hover {
  text-decoration: underline;
}

/* External links (yawnoc GitHub to be counted as internal) */

a[href^="http"]:not([href^="https://github.com/yawnoc"]) {
  background-image: url(/images/external-link.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding-right: 15px;
}

@media print {
  a {
    color: blue; /* even for visited links */
  }
  a[href^="http"]:not([href^="https://github.com/yawnoc"]) {
    background-image: none;
    padding-right: 0;
  }
}

/* Self links */

h2 a.self-link {
  background-image: url(/favicon-32x32.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 36px;
}

h3 a.self-link {
  background-image: url(/images/self-link.svg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-left: 24px;
}

h4 a.self-link {
  background-image: url(/images/self-link.svg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding-left: 18px;
}

@media print {
  a.self-link {
    display: none;
  }
}

/* ---------------------------------------------------------------- */
/* Blockquotes                                                      */
/* ---------------------------------------------------------------- */

blockquote {
  background: #ffffce;
  border-left: 3px solid grey;
  padding: 10px;
}

@media print {
  blockquote {
    background: none;
    border: 1px solid grey;
    border-left-width: 0.5em;
  }
}

/* ---------------------------------------------------------------- */
/* Body                                                             */
/* ---------------------------------------------------------------- */

body {
  font-family: sans-serif;
  line-height: 1.4;
  margin: auto auto 1em;
  overflow-wrap: break-word; /* for breaking long URLs */
  padding: 48px 1em 0; /* top (48px) for nav bar */
}

@media print {
  body {
    padding-top: 0;
    font-size: 11pt;
  }
}

/* ---------------------------------------------------------------- */
/* Divisions                                                        */
/* ---------------------------------------------------------------- */

/* Boxed */

div.boxed {
  border: 2px solid black;
  font-size: large;
  margin: 0.25em 0.5em 0.25em 0;
  padding: 0.3em 0.5em;
}

li div.boxed {
  font-size: medium;
}

@media print {
  div.boxed {
    font-size: medium;
    page-break-inside: avoid;
  }
}

div.boxed + div.boxed {
  margin-top: 1em;
}

div.links + div.boxed {
  margin-top: 0.5em;
}

div.maths + div.boxed {
  margin-top: 1em;
}

div.romanisation-radio + div.boxed {
  margin-top: 1em;
}

/* Centred flexbox */

div.centred-flex {
  display: flex;
  justify-content: center;
}

li div.centred-flex {
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}

div.boxed + div.centred-flex {
  margin-top: 1em;
}

/* Centred SVG and text */

div.centred-svg, div.centred-text {
  text-align: center;
}

/* Dialogue */

div.dialogue {
  font-size: larger;
  margin: 0 auto 1em;
  max-width: 30em;
}

/* End sign */

div.end {
  padding-top: 1em;
  text-align: center;
}

div.end > span:first-child {
  font-size: large;
}

div.dialogue > div.end {
  padding-top: 0.5em;
  font-size: x-large;
  clear: both;
}

/* Links row (usually under headings) */

div.links {
  font-size: 95%;
}

div.links a:not(:first-child) {
  padding-left: 0.7em;
}

@media print {
  div.links {
    display: none;
  }
}

h2 + div.links {
  margin-top: -0.7em;
}

h3 + div.links {
  margin-top: -0.9em;
}

h4 + div.links {
  margin-top: -0.7em;
}

p + div.links {
  margin-top: -1em;
}

/* Maths display equation */

div.maths {
  height: auto;
  overflow-x: auto; /* overflow horizontally so nav bar doesn't disappear */
  overflow-y: hidden;
  margin-bottom: 0.7em; /* and have tight scroll bar */
}

div.maths > span.katex-display {
  margin-bottom: 0.3em;
}

div.maths + div.maths > span.katex-display {
  margin-top: 0;
}

p + div.maths {
  margin-top: -1em;
}

ul + div.maths {
  margin-top: -1em;
}

/* Overflowing (for tables etc.) */

div.overflowing {
  height: auto;
  overflow-x: auto;
}

/* Not large (to override boxed) */

div.not-large {
  font-size: medium;
}

/* Romanisation radio */

div.romanisation-radio {
  border: 1px solid black;
  border-radius: 12px;
  padding: 0.3em 0.7em;
  margin-right: 0.5em;
}

div.romanisation-radio label {
  font-size: small;
}

div.boxed + div.romanisation-radio {
  margin-top: 1em;
}

div.links + div.romanisation-radio {
  margin-top: 0.5em;
}

div.translation hr { /* https://stackoverflow.com/a/4151770 */
  border: none;
  background-color: black;
  color: black;
  height: 1px;
  margin: 0.25em 0;
}

/* ---------------------------------------------------------------- */
/* Footer                                                           */
/* ---------------------------------------------------------------- */

footer {
  font-size: small;
  margin-top: 1.5em;
}

/* ---------------------------------------------------------------- */
/* Headings                                                         */
/* ---------------------------------------------------------------- */

h1 {
  font-size: 1.6em;
  margin: 0;
}

h2 {
  font-size: 1.4em;
  margin: 0.6em 0;
}

h3 {
  font-size: 1.2em;
  margin: 0.6em 0;
}

h4 {
  line-height: 1.2;
  font-size: 1.1em;
  margin: 0.6em 0;
}

pre + h4 {
  margin-top: 1em;
}

/* ---------------------------------------------------------------- */
/* Italics                                                          */
/* ---------------------------------------------------------------- */

i {
  font-style: italic; /* in case your browser is stupid */
}

i i {
  font-style: normal; /* cancel nested italics */
}

/* ---------------------------------------------------------------- */
/* Images                                                           */
/* ---------------------------------------------------------------- */

img {
  align-self: center;
  max-width: 100%;
  height: auto;
}

div.dialogue > img {
  clear: both;
  display: block;
  margin-bottom: 0.25em;
  max-width: 30%;
}

img.dialogue-guest {
  border: 5px solid black;
  float: right;
  margin-left: 0.75em;
}

img.dialogue-host {
  border: 5px solid blue;
  float: left;
  margin-right: 0.75em;
}

/* ---------------------------------------------------------------- */
/* Navigation bar                                                   */
/* ---------------------------------------------------------------- */

/* Header */
/* https://github.com/KaTeX/KaTeX/issues/631 */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1; /* make header cover equations */
}

@media print {
  nav {
    display: none;
  }
}

nav ul {
  background: #ffff66;
  border-bottom: 1px solid black;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  white-space: nowrap;
}

:not(header) > nav {
  margin-right: 0.5em;
}

:not(header) > nav ul {
  background: #ffffce;
  border: 1px solid black;
  overflow: visible;
  white-space: normal;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 8px;
  text-align: center;
}

:not(header) > nav li a {
  font-size: 13px;
  padding: 4px 6px;
}

/* Prevent header overlapping in-page anchors */
/* https://stackoverflow.com/a/28824157 */

:target::before {
  content: "";
  display: block;
  height: 40px;
  margin: -40px 0 0;
}

/* ---------------------------------------------------------------- */
/* Keyboard input                                                   */
/* ---------------------------------------------------------------- */

kbd {
  background-color: #ececec;
  border-radius: 4px;
  border: 1px solid grey;
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 0 0.1em;
  padding: 0 0.3em;
}

/* ---------------------------------------------------------------- */
/* Paragraphs                                                       */
/* ---------------------------------------------------------------- */

li > p {
  margin-top: 0.3em;
}

div.maths + p {
  margin-top: -0.3em;
}

/* Dialogue */

p.dialogue-guest {
  clear: left;
}

p.dialogue-host {
  clear: right;
  color: blue;
}

div.dialogue > img + p {
  padding-top: 0.7em;
}

/* Note */

p.note {
  font-size: small;
}

p + p.note {
  margin-top: -0.7em;
}

td p.note {
  margin: 0.2em 0;
}

/* Page properties */

p.page-properties {
  font-size: small;
}

/* ---------------------------------------------------------------- */
/* Ordered lists                                                    */
/* ---------------------------------------------------------------- */

ol {
  padding-left: 2em;
}

p + ol {
  margin-top: -0.7em;
}

p + ul {
  margin-top: -0.7em;
}

/* ---------------------------------------------------------------- */
/* Preformatteds                                                    */
/* ---------------------------------------------------------------- */

pre {
  background: #efefef;
  border: 1px solid grey;
  margin: 0.25em 0.5em 0.25em 0;
  overflow-x: auto;
  padding: 0.5em;
}
@media print {
  pre {
    font-size: 9pt;
    white-space: pre-wrap;
  }
}

div + pre {
  margin-top: 1em;
}

pre + pre {
  margin-top: 0.5em;
}

/* ---------------------------------------------------------------- */
/* Scalable Vector Graphics                                         */
/* ---------------------------------------------------------------- */

svg.fit-width {
  max-width: 100%;
  margin-top: 1em;
}

/* For holding styles used in all subsequent SVGs without taking up space */

svg.embedded-styles {
  height: 0;
  width: 0;
  position: absolute;
}

/* ---------------------------------------------------------------- */
/* Scroll bars                                                      */
/* ---------------------------------------------------------------- */

/* Make scrollbar visible in mobile browsers */
/* https://stackoverflow.com/a/22907848 */

@media not print {
  div::-webkit-scrollbar, nav ul::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  div::-webkit-scrollbar:horizontal {
    height: 2vh;
    min-height: 6px;
    max-height: 10px;
  }
  nav ul::-webkit-scrollbar:horizontal {
    height: 1vh;
    min-height: 2px;
    max-height: 4px;
  }
  div::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  nav ul::-webkit-scrollbar-thumb {
    background: grey;
  }
  div::-webkit-scrollbar-track-piece {
    background: #efefef;
    border-radius: 10px;
  }
  nav ul::-webkit-scrollbar-track-piece {
    background: #efefef;
  }
}

/* ---------------------------------------------------------------- */
/* Spans                                                            */
/* ---------------------------------------------------------------- */

/* Highlighted part (of words, phonetics etc.) */

span.highlighted-part {
  color: darkviolet;
  font-weight: bold;
}

/* Note */

span.note {
  font-size: small;
}

/* Numeral */

span.numeral {
  color: maroon;
  font-size: smaller;
}

/* Romanisation, whose display may be toggled */
/* See: Section 3 (Romanisation preference settings) in conway-render.js */

span.romanisation {
  color: green;
  display: none;
  font-size: smaller;
}

span.romanisation-conway {
  display: inline;
}

/* Small capitals */

span.small-caps {
  font-variant: small-caps;
}

/* ---------------------------------------------------------------- */
/* Tables                                                           */
/* ---------------------------------------------------------------- */

table.links {
  font-size: small;
}

table {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 0.5em;
}

table th {
  background: #efefef;
  border: 1px solid black;
  padding: 0.25em 0.5em;
}

table td {
  border: 1px solid black;
  padding: 0.25em 0.5em;
}

td.centred-text {
  text-align: center;
}

td.no-border {
  border: none;
}

td.no-padding {
  padding: 0;
}

td.not-applicable {
  background: #ececec;
}

td.top-aligned {
  vertical-align: top;
}

/* ---------------------------------------------------------------- */
/* Unordered lists                                                  */
/* ---------------------------------------------------------------- */

ul {
  padding-left: 1.5em;
}

ul.site-history li:first-child { /* first item */
  background: yellow;
}

ul.site-history li:first-child > span:first-child { /* first date */
  font-weight: bold;
}

div.boxed ul {
  margin: 0;
}

div.boxed + ul {
  margin-top: 0;
}

td ul {
  margin: 0;
}

/* ---------------------------------------------------------------- */
/* General                                                          */
/* ---------------------------------------------------------------- */

/* For holding KaTeX definitions (\gdef) without taking up space */

.embedded-definitions {
  display: none;
}

/* Sparse list (i.e. one whose items are less densely packed) */

.sparse-list {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.sparse-list > li:not(:last-child) {
  margin-bottom: 0.5em;
}

/* Coloured text */

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.violet {
  color: darkviolet;
}

/* Coloured background */

.lightyellow {
  background: lightyellow
}

/* Heading (or short description, of paragraphs etc.) */

.heading {
  color: navy;
}

/* Thought */

@font-face {
  font-display: swap;
  font-family: 'Comic_Neue';
  src:
    url('/fonts/ComicNeue-Regular.woff2') format('woff2'),
    url('/fonts/ComicNeue-Regular.woff') format('woff'),
    url('/fonts/ComicNeue-Regular.ttf') format('truetype');
}

.thought {
  background: beige;
  font-family: 'Comic_Neue', sans-serif;
}

nav .thought, ul.site-history li:first-child .thought {
  background: transparent;
}

/* Whitespace */

.collapsed-no-wrapping {
  white-space: nowrap;
}

.no-wrapping {
  white-space: pre;
}