/*
  ----------------------------------------------------------------
  Sections
  ----------------------------------------------------------------
  Body
  Blockquotes
  Code
  Divisions
  Footer
  Headings
  Links
  Lists
  Navigation bar
  Page properties
  Romanisations
  Sun Tzu
  SVG
  Tables
  Vertical right-to-left script
  Whitespace
  
*/


/* ---------------------------------------------------------------- */
/* Body                                                             */
/* ---------------------------------------------------------------- */


/*
  Allow breaking of long URLs (overflow-wrap)
  Leave room at top for header navigation bar (padding)
*/

body {
  font-family: sans-serif;
  line-height: 1.4;
  margin: auto auto 1em;
  overflow-wrap: break-word;
  padding: 24px 0.7em 0;
}


/* ---------------------------------------------------------------- */
/* Blockquotes                                                      */
/* ---------------------------------------------------------------- */


blockquote {
  background: #ffffce;
  border-left: 3px solid grey;
  padding: 10px;
}


/* ---------------------------------------------------------------- */
/* Code                                                             */
/* ---------------------------------------------------------------- */


code {
  background: #f8f8f8;
}


pre {
  background: #f8f8f8;
  border: 1px solid grey;
  overflow-x: auto;
  padding: 0.5em;
}


/* ---------------------------------------------------------------- */
/* Divisions                                                        */
/* ---------------------------------------------------------------- */


.centred-block {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.important {
  border: 2px solid black;
  margin: 0.7em;
  padding: 0.4em 0.5em;
}

.overflowing {
  overflow-x: auto;
}


/* ---------------------------------------------------------------- */
/* Footer                                                           */
/* ---------------------------------------------------------------- */


footer {
  border-top: 2px solid black;
  font-size: small;
  margin-top: 1.5em;
  padding-top: 0.5em;
}


/* ---------------------------------------------------------------- */
/* Headings                                                         */
/* ---------------------------------------------------------------- */


h1 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
}

h2 {
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}


/* ---------------------------------------------------------------- */
/* Links                                                            */
/* ---------------------------------------------------------------- */


/* External link icon */

a[href^="http"] {
  background-image: url(/res/external-link.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.8em;
  padding-right: 1em;
}


/* Heading self links */

h2 > .self-link {
  background-image: url(/favicon-32x32.png);
}

.self-link {
  background-image: url(/res/self-link.svg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}


/* No underline except on hover */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* ---------------------------------------------------------------- */
/* Lists                                                            */
/* ---------------------------------------------------------------- */


li {
  margin-bottom: 0.3em;
}


ol {
  padding-left: 2em;
}


ul {
  padding-left: 1.5em;
}


/* ---------------------------------------------------------------- */
/* Navigation bar                                                   */
/* ---------------------------------------------------------------- */


/*
  Fixed-header navigation bar (position)
  Fix navigation bar not covering KaTeX equations (z-index)
    https://github.com/KaTeX/KaTeX/issues/631
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

nav > ul {
  background: #ffff66;
  border-bottom: 1px solid black;
  margin: 0;
  overflow: auto;
  padding: 0;
  white-space: nowrap;
}
:not(header) > nav {
  margin: 1em 0.5em;
}
:not(header) > nav > ul {
  border: 1px solid black;
  white-space: normal;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 0;
  padding: 5px 8px;
}

nav > ul > li > a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}


/*
  Leave room at top for navigation bar when following anchor links
    https://stackoverflow.com/a/28824157
*/

:target::before {
  content: "";
  display: block;
  height: 48px;
  margin: -48px 0 0;
}



/* ---------------------------------------------------------------- */
/* Page properties                                                  */
/* ---------------------------------------------------------------- */


.page-properties {
  font-size: small;
}



/* ---------------------------------------------------------------- */
/* Romanisations                                                    */
/* ---------------------------------------------------------------- */


.initial {
  font-weight: bold;
}

.pre-merger {
  color: darkviolet;
}

.post-merger {
  color: green;
}


/* ---------------------------------------------------------------- */
/* Sun Tzu                                                          */
/* ---------------------------------------------------------------- */


.sun-tzu-navigation {
  margin-top: 0.1em;
}

.sun-tzu-navigation > li {
  margin-bottom: 0.1em;
}



/* ---------------------------------------------------------------- */
/* SVG                                                              */
/* ---------------------------------------------------------------- */


/* SVG styles which do not take up space */

.embedded-styles {
  height: 0;
  width: 0;
  position: absolute;
}


/* ---------------------------------------------------------------- */
/* Tables                                                           */
/* ---------------------------------------------------------------- */


table {
  background-color: white;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  background-color: lightgrey;
}

th, td {
  border: 1px solid black;
  padding: 0.4em;
}

/* Centred merged cells */

.merged-cell {
  text-align: center;
}


/* ---------------------------------------------------------------- */
/* Vertical right-to-left script                                    */
/* ---------------------------------------------------------------- */


.vertical-rtl {
  writing-mode: vertical-rl;
}



/* ---------------------------------------------------------------- */
/* Whitespace                                                       */
/* ---------------------------------------------------------------- */

.no-wrapping {
  white-space: nowrap;
}

